@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: #212925;
    color: #ffffff;
    font-family: 'source serif 4', sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 40px;
}

h1{
    border-bottom: 3px solid #97573D;
}

.btn-box{
    display: flex;
    width: 100%;
    height: 100%;
    border: 2px solid #97573D;
    padding: 5px;
    border-radius: 20px;
}

#theme-button{
    width: 20px;
    height: 20px;
    border-color: #97573D;
    background-color: #97573D;
    outline: none;
    /* padding: 10px; */
    border-radius: 100%;
}

#theme-button:hover {
    cursor: pointer;
}

.active{
    justify-content: end;
    transition: all 0.3s ease;
}

.theme-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 80%;
    margin-top: 1%;
    font-size: 13px;
    flex-direction: column;
    max-width: 80px;
    margin-right: 5vw;
    top: 100%;
    right: 100%;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

img{
    max-width: 350px;
    max-height: 350px;
    border: 5px solid #552A19;
    border-radius: 15px;
    margin: 5vh;
    box-shadow: 2px 2px 5px #000;
}

.main-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10vh;
    margin-top: -20vh;
    gap: 5vh;
    width: 300px;
    position: relative;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 270px;
    height: 100px;
}

.main-form-tittle{
    border-bottom: 3px solid #97573D;
    font-weight: lighter;
    font-size: 30px;
}

.form-input{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #97573D;
    border-radius: 8px;
    width: 100%;
    height: 30%;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #3B4B42;
    box-shadow: 2px 2px 5px #000;
}

.form-input:focus{
    border: 2px solid #e79b7d;
    outline: none;
}

.login-btn{
    padding: 5px 50px;
    border: 2px solid #552A19;
    border-radius: 8px;
    background-color: #97573D;
    margin: auto;
    margin-top: 8px;
    box-shadow: 2px 2px 5px #000;
}

.login-btn:active{
    background-color: #804934;
    border: 2px solid #552A19;
    transform: translateY(8%);
    transition: all 0.1s ease;
    box-shadow: 1px 1px 2px #000;
}

@media screen and (max-width: 920px) {
    img{
        max-width: 300px;
        max-width: 300px;
    }
}

@media screen and (max-width: 720px){
    img{
        max-width: 200px;
        max-height: 200px;
    }
}

@media screen and (max-width: 600px){
    img{
        display: none;
    }
}